{% set structure = eznova_relation_field_to_content( ez_field_value(content,'structure') )  %}
{% set place = eznova_relation_field_to_content( ez_field_value(content,'place') )  %}

{% set parent = eznova_parentcontent_by_contentinfo( content.contentInfo ) %}
{% set first_parent = eznova_parentcontent_by_contentinfo( parent.contentInfo ) %}

{% set li_class = "item" %}
{% if not ez_is_field_empty( first_parent, "tag" ) %}
    {% set li_class = li_class ~ " " ~ get_tag_color( ez_field_value( first_parent,'tag' ).tags[0].id ) %}
{% endif %}

<li class="{{ li_class }}">
    <strong class="metaNote">
        {% if not ez_is_field_empty( first_parent, "tag" ) %}
            <span>{{ ez_field_value( first_parent, 'tag' ) }}</span>
        {% endif %}
    </strong>

    <h3>
        <a href="{{ path( location ) }}">{{ ez_content_name( content, 'title' ) }}</a>
    </h3>
    <p>
        <strong>Structure&nbsp;:</strong> {{ ez_content_name( structure, 'name' ) }}<br/>
        <strong>Domaine d'activité&nbsp;:</strong> {{ ez_render_field( content, 'activity_field', { 'container' : true } ) }} <br/>
        <strong>Lieu&nbsp;:</strong> {{ ez_content_name( place, 'city' ) }}
    </p>
    <p class="itemUrl">
        {{ render(  controller( 'CGFrontBundle:Layout:pathContent' , { 'locationId' : location.id } ) ) }}
    </p>
</li>